@import 'import.css';

.myBloc, .myReverseBloc, .myImgBloc {
    display: inline-block;
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
}

.myBloc {
    background-color: var(--color1);
}

.myReverseBloc {
    background-color: var(--color2);
}

.myImgBloc {
    background-color: var(--color1);
}

.myLilPokeBloc:visited, .myLilPokeBloc:hover {
    text-decoration: none;
}
.myLilPokeBloc:visited {
    color: rgb(95, 117, 205);
}
.myLilPokeBloc:hover {
    color: var(--colorY);
    text-decoration: underline;
}

.myLilPokeBloc{
    text-align: center;
    margin: 0.5rem 0.5rem;
    width: 12rem;
    height: 17rem;
    overflow: hidden;
    display: inline-block;
    background-color: var(--color3);
    border-radius: var(--border-radius);
    color: white;
    text-decoration: none;
}